@{
    // Setting the page title
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="about">About</h1>
    <p>ASP206-Group 8 are Prepare to journey back in time as we present to you our handpicked top 10 games for the iconic Nintendo 64, so come with us!</p>
    <p>Unleashing a wave of nostalgia, the Nintendo 64 encapsulates an era that transformed the landscape of gaming forever. This bold little box, with its breakthrough into the realm of 3D, set the stage for the immersive and dynamic gaming experiences we enjoy today.</p>
    <p>Who could forget diving into the magical world of Super Mario 64 or embarking on the epic quest in the Legend of Zelda: Ocarina of Time? From its visionary titles that pushed the boundaries of gameplay and storytelling, to its pioneering multiplayer experiences, the N64 was a game-changer (pun intended) that left an indelible mark on gaming history.</p>
    <p>So, buckle up and join us as we explore the golden era of pixelated fun. Enjoy our list of the best 10 games for Nintendo 64!</p>
    <br />
    <p>Filipe Nogueira Santos and Erik Acuna Gomez</p>
</div>